/* titillium-web-regular - latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/titillium-web-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("assets/fonts/titillium-web-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* titillium-web-italic - latin */
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/titillium-web-v15-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("assets/fonts/titillium-web-v15-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* titillium-web-600italic - latin */
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 600;
  src: local(""),
    url("assets/fonts/titillium-web-v15-latin-600italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("assets/fonts/titillium-web-v15-latin-600italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* titillium-web-700 - latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("assets/fonts/titillium-web-v15-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("assets/fonts/titillium-web-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* zen-dots-regular - latin */
@font-face {
  font-family: "Zen Dots";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/zen-dots-v10-latin-regular.woff") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("assets/fonts/zen-dots-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header,
main,
footer {
  /*border: 2px solid rgb(167, 1, 1);
  background-color: rgb(253, 200, 136);
}*/

/*html{
  height: 100vh;
}*/

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(253, 200, 136);
}

img {
  border-radius: 100%;
  width: 200px;
  height: 200%;
}

li {
  list-style-type: none;
}

p {
  margin: 1% 0 0 0;
}

h2 {
  font-family: "Zen Dots";
  font-style: normal;
  font-weight: 400;
}

.container {
  /*min-height: 100vh;*/
  /*width: 70%;*/
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}

.wrapper {
  width: 80%;
  margin: auto;
}

/* Header Start */

.header {
  padding: 3% 0 3% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*height: 20%;*/
  background-color: darkgoldenrod;
}

.header-logo {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*background-color: blueviolet;*/
}

.logo_pic > img {
  width: 20px;
  height: 20px;
}

.logo_text {
  margin-left: 2%;
}

.header-nav {
  margin-left: 1%;
  flex-grow: 1;
}

.header-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.header-item {
  margin-right: 1%;
}

.header-link {
  text-decoration: none;
}

/*Header Finish*/
/* Main Start*/

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*height: 70%;*/
  background-color: cornsilk;
}

.section-intro {
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.intro-avatar {
  width: 200px;
  height: 200px;
}

.intro-avatar_pic {
  border-radius: 90%;
  width: 200px;
  height: 185px;
}

.intro-avatar:hover {
  z-index: 10;
  transform: scale(1.01);
}

.intro-text {
  flex-grow: 1;
}

.intro-text,
.section-summary {
  margin: 1%;
}

.section-general {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-general_block {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  width: 15%;
  background-color: #ed6464;
}

.section-general_block:hover {
  z-index: 10;
  transform: scale(1.01);
}

/*Main Finish */
/*Footer Start */

.footer {
  padding: 3% 0 3% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*height: 10%;*/
  justify-content: space-evenly;
  background-color: darkslategrey;
}

.rs-logo {
  background-color: rgb(223, 106, 223);
  height: 50%;
}

.rs-logo_pic {
  border-radius: 100%;
  width: 50px;
  height: 50%;
}

.gh-si {
  background-color: #ed6464;
}
/*Footer Finish */
